<div class="panel panel-info clearfix">
    <div style="height: 41px;" class="panel-heading clearfix">{{ info.name }}<span class=" pull-right clearfix">{{info.username}}</span></div>
    <div class="panel-body">{{ info.content }}</div>
    <div class="panel-footer" ng-if="$root.authenticated">
        <form class="form-inline" action="api/createComment.php" method="post">
            <div class="form-group form">
                <input type="text" class="form-control" name="content" placeholder="comment...">
                <input type="submit" name="submit" value="post" class="btn btn-default" >
                <input type="hidden" ng-value="info.id" name="reply_to" >
            </div>
        </form>
    </div>
</div>